# Created by .ignore support plugin (hsz.mobi)
.editorconfig
.htaccess
.idea/copyright/
.idea/deployment.xml
.idea/misc.xml
.idea/modules.xml
.idea/ph.iml
.idea/workspace.xml
.rspec
.travis.yml
Gemfile
Gemfile.lock
LICENSE.txt
Makefile
README.md
Rakefile
bin/
cache/
composer.json
conf/
data/
docker-compose.yml
docker/
logs/
public/.htaccess
public/img/
spec/
variables.env
variables.env.example
vendor/
